<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Breed</th>
    <th>Age</th>
    <th>Weight</th>
    <th>Next Appointment Date</th>
    <th>Last Visited</th>
  </tr>
  </thead>

  <tbody>
  <row>
    <td><%= @pet.name %></td>
    <td><%= @pet.pet_type %></td>
    <td><%= @pet.breed %></td>
    <td><%= @pet.age %></td>
    <td><%= @pet.weight.to_s + ' lbs' %></td>
    <td><%= @pet.next_appointment_date_f %></td>
    <td><%= @pet.last_visited_date_f %></td>

  </row>
  </tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th>Owner</th>
      <th>Doctor</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "#{@pet.customer.first_name + ' ' + @pet.customer.last_name}", @pet.customer %></td>
      <td><%= @pet.get_doctor.full_name %></td>
    </tr>
  </tbody>
</table>


<%= link_to 'Go Back', pets_path %>