<div class="form-group">
  <%= f.label :first_name, 'First Name', class: 'control-label' %>
  <%= f.text_field :first_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :last_name, 'Last Name', class: 'control-label' %>
  <%= f.text_field :last_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :area_code, 'Area Code', class: 'control-label' %>
  <%= f.number_field :area_code, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :phone_number, 'Phone Number', class: 'control-label' %>
  <%= f.number_field :phone_number, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :next_appointment_date, 'Next Appt Date', class: 'control-label' %>
  <%= f.date_field :next_appointment_date, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :visit_reason, 'Visit Reason', class: 'control-label' %>
  <%= f.text_field :next_appointment_date, class: 'form-control' %>
</div>

<%= f.submit class: 'btn btn-success' %>


