<h1 class="text-center">Listing all Customers</h1>

<ul>
  <table class="table table-striped">

    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Pets</th>
      <th class="text-center"><%= link_to '', new_customer_path, class: 'btn btn-success glyphicon glyphicon-plus' %></a>
      </th>
    </tr>
    </thead>

    <tbody>
    <% @customers.each do |customer|%>
        <tr>
          <td><%= customer.first_name %></td>
          <td><%= customer.last_name %></td>
          <td><%= customer.full_phone_number %>
          <td><%= customer.get_pets.find_each do |pet| pet.name end %></td>
          <td class="text-center"><%= render partial: 'customers/btn_actions', locals: { customer: customer } %></td>



        </tr>

    <% end %>
    </tbody>

  </table>

</ul>


