<table class="table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
  </tr>
  </thead>

  <tbody>
  <row>
    <td><%= @customer.first_name %></td>
    <td><%= @customer.last_name %></td>
    <td><%= @customer.phone_number_a.to_s %></td>
  </row>
  </tbody>
</table>

Customer Pets
<% @customer_pets.each do |pet| %>
  <li><%= pet.name %></li>
  <%= pet.inspect %>
<% end %>

<br><%= link_to 'Go Back', pets_path %>