<table class="table">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
  </tr>
  </thead>

  <tbody>
  <row>
    <td><%= @customer.first_name %></td>
    <td><%= @customer.last_name %></td>
    <td><%= @customer.full_phone_number %></td>
  </row>
  </tbody>
</table>


<table>
  <thead>
  <tr>
    <th>Pets</th>
  </tr>
  </thead>

  <tbody>
  <% @customer_pets.each do |pet| %>

  <tr>
    <td> <%= link_to "#{pet.name}", pet_path(pet) %></td>
  </tr>
  <% end %>
  </tbody>
</table>


<br><%= link_to 'Go Back', customers_path %>