<%= render partial: 'doctors/errors' %>


<% state_array =
     %w(AK AL AR AZ CA CO CT DC DE FL GA HI IA ID IL IN KS KY LA MA MD ME MI MN MO MS MT NC ND NE NH NJ NM NV NY OH OK OR PA RI SC SD TN TX UT VA VT WA WI WV WY)  %>


<div class="form-group">
    <%= f.label :first_name, 'First Name', class: 'control-label' %>
    <%= f.text_field :first_name, class: 'form-control' %>
</div>


<div class="form-group">
    <%= f.label :last_name, 'Last Name', class: 'control-label' %>
    <%= f.text_field :last_name, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :address, 'Address', class: 'control-label' %>
  <%= f.text_field :address, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :city, 'City', class: 'control-label' %>
  <%= f.text_field :city, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :state, 'State', class: 'control-label' %>
  <%= f.select(:state, options_for_select(state_array)) %>
</div>





<div class="form-group">
  <%= f.label :zip, 'Zip Code', class: 'control-label' %>
  <%= f.text_field :zip, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :school, 'School', class: 'control-label' %>
  <%= f.text_field :school, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :years_in_practice, 'Years in Practice', class: 'control-label' %>
    <%= f.text_field :years_in_practice, class: 'form-control' %>
</div>

<%= f.submit class: 'btn btn-success' %>

