<h1 class="text-center">Listing all doctors</h1>

<ul>
    <table class="table table-striped">

      <thead>
      <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Years In Practice</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @doctors.each do |doctor|%>
        <tr>
          <td><%= doctor.first_name %></td>
          <td><%= doctor.last_name %></td>
          <td class><%= doctor.years_in_practice %></td>
          <td class="text-center"><%= link_to 'More Info', doctor_path(doctor), class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_doctor_path(doctor), class: 'btn btn-success' %>
          <%= link_to ' Delete', doctor_path(doctor), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
  </tbody>

    </table>

</ul>
