<h1 class="text-center">Listing all doctors</h1>


<ul>
    <table class="table table-striped">

      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Years In Practice</th>
          <th class="text-center"><%= link_to '', new_doctor_path, class: 'btn btn-success glyphicon glyphicon-plus' %></th>
        </tr>
      </thead>

      <tbody>
        <% @doctors.each do |doctor|%>
        <tr>
          <td><%= doctor.first_name %></td>
          <td><%= doctor.last_name %></td>
          <td><%= doctor.years_in_practice %></td>
          <td class="text-center"><%= render partial: 'doctors/btn_actions', locals: { doctor: doctor } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

</ul>
