<table class="table">
<thead>
<tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Address</th>
  <th>City</th>
  <th>State</th>
  <th>Zip</th>
  <th>School</th>
  <th>Years In Practice</th>
</tr>
</thead>

<tbody>
  <row>
    <td><%= @doctor.first_name %></td>
    <td><%= @doctor.last_name %></td>
    <td><%= @doctor.address %></td>
    <td><%= @doctor.city %></td>
    <td><%= @doctor.state %></td>
    <td><%= @doctor.zip %></td>
    <td><%= @doctor.school %></td>
<td><%= @doctor.years_in_practice %></td>
  </row>
</tbody>
</table>

<br><%= link_to 'Go Back', doctors_path %>