<h1 class="text-center"> List All Appointments </h1>
<span class="pull-right"><%= link_to 'Add Appointment', new_appointment_path, class: 'btn btn-success' %></span>


<ul>
  <table class="table table-striped">

    <thead>
    <tr>
      <th>Customer</th>
      <th>Pet</th>
      <th>Assigned Doctor</th>
      <th>Apt Date</th>
      <th>Visit Reason</th>
      <th>Appt Reminder</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @appointments.each do |apt|%>
        <tr>
          <td> <%= apt.pet.customer.full_name %></td>
          <td> <%= apt.pet.name %></td>
          <td> <%= apt.doctor.full_name %></td>
          <td> <%= apt.date_of_visit_f %></td>
          <td> <%= apt.visit_reason %></td>
          <td> <%= apt.reminder %></td>
          <td class="text-center">
            <%= link_to 'More Info', appointment_path(apt), class: 'btn btn-primary' %>
            <%= link_to 'Edit', edit_appointment_path(apt), class: 'btn btn-success' %>
            <%= link_to 'Delete', appointment_path(apt), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %>
    </tbody>

  </table>

</ul>

