<table class="table">
  <thead>
  <tr>
    <th>Date of Visit</th>
    <th>Pet</th>
    <th>Customer</th>
    <th>Appointment Reminder</th>
    <th>Visit Reason</th>
  </tr>
  </thead>

  <tbody>
  <row>
    <td><%= @appointment.date_of_visit_f %></td>
    <td><%= @appointment.pet.name %></td>
    <td><%= Pet.find(@appointment.pet).customer.full_name %></td>
    <td><%= @appointment.reminder %></td>
    <td><%= @appointment.visit_reason %></td>
  </row>
  </tbody>
</table>

<br><%= link_to 'Go Back', appointments_path %>