<nav class="navbar navbar-inverse justified">
  <ul class="nav navbar-nav navbar-left">
    <li><%= link_to 'Home', root_path%></li>
    <li><%= link_to 'Users', navigation_path %></li>

  </ul>

  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">DEBUG</a></li>
    <li><%= link_to 'Doctors', doctors_path %></li>
    <li><%= link_to 'Pets', pets_path %></li>
    <li><%= link_to 'Customers', customers_path %></li>
    <li><%= link_to 'Appointments', appointments_path %></li>
  </ul>
</nav>





